body {
    background-image: url("images\wallpaper.png");
    background-color: #bdbec1;
    background-repeat: repeat-x
   }
.perilsnprincesses-logo {
    border: thin solid #bbb;
    margin: 10px;
    overflow: auto;
    padding: 10px;
    background-color: #fff;
  }
.sheet-box {
    border: thin solid #bbb;
    margin: 10px;
    overflow: auto;
    padding: 10px;
    background-color: #fff;
  }
.sheet-startcol {
    clear: left;
    float: left;
    margin-right: 1em;
  }
.sheet-col {
    float: left;
    margin-right: 1em;
    font-size: 100%
  }
.sheet-biocol {
    clear: left;
    float: left;
    margin-right: 1em;
    background-image: image("images\wallpaper.png")	
  }