body {
    background-color: lightgrey;
    background-repeat: repeat-x;
   }
.slayers-logo {
    border: thin solid #bbb;
    margin: 10px;
    overflow: auto;
    padding: 10px;
    background-color: lightgrey;
    }
.charsheet {
      overflow: auto;
      width: 1000px;
      padding: 10px;
      background-color: lightgrey;
    }
.sheet-box {
    border: thin solid #bbb;
    margin: 10px;
    overflow: auto;
    padding: 10px;
    background-color: lightgrey;
  }


/*  name class hp speed */

.name-class-container{
    border: thin solid gray;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}
.sheet-character-name {
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-charname.png") no-repeat;
    height: 29px;
    width: 250px;
    padding: 12px 8px 12px 20px;
}
.sheet-character-name input {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 90px;
    margin-top: -1px;
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap
}
.sheet-character-class {
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-classchoice.png") no-repeat;
    height: 20px;
    width: 250px;
    margin-top: 7px;
    padding: 12px 8px 12px 20px;
}
.sheet-character-class select {
    font-size: 17px;
    font-weight: 700;
    overflow: hidden;
    width: 150px;
    margin-left: 85px;
    margin-top: -5px; 
/*    padding: 10px;*/
    text-overflow: ellipsis;
    white-space: nowrap
}
.sheet-character-hp {
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-charhp.png") no-repeat;
    height: 100px;
    max-width: 215px;
    margin-left: 20px;
}
#character_currhp {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    width: 30%;
    margin-left: 32px;
    margin-top: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#character_maxhp {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    width: 30%;
    margin-left: 15px;
    margin-top: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sheet-character-speeddie {
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-speeddie.png") no-repeat;
    
    height: 85px;
    max-width: 125px;
    padding: 12px 8px 12px 20px;
}
.sheet-character-speeddie select {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 5px;
    margin-top: 35px;
    width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sheet-character-speeddie button {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 90px;
    margin-top: -5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*  skills  */

.char-skills-container{
    display: flex;
    float: left;
    flex-direction: column;
    flex: 1fr 1fr 1fr;
    align-items: left;
    width: 190px;
    border: thin solid gray;

}
.sheet-character-skillagile{
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-skillagile.png") no-repeat;
}
.sheet-character-skillagile select {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 95px;
    margin-top: 10px;
    width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sheet-character-skillagile button {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 80px;
    margin-top: -15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sheet-character-skillbrawn{
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-skillbrawn.png") no-repeat;
}
.sheet-character-skillbrawn select {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 95px;
    margin-top: 10px;
    width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sheet-character-skillbrawn button {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 80px;
    margin-top: -15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sheet-character-skilldeceive{
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-skilldeceive.png") no-repeat;
}
.sheet-character-skilldeceive select {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 95px;
    margin-top: 10px;
    width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sheet-character-skilldeceive button {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 80px;
    margin-top: -15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sheet-character-skillhunt{
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-skillhunt.png") no-repeat;
}
.sheet-character-skillhunt select {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 95px;
    margin-top: 10px;
    width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sheet-character-skillhunt button {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 80px;
    margin-top: -15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sheet-character-skillmend{
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-skillmend.png") no-repeat;
}
.sheet-character-skillmend select {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 95px;
    margin-top: 10px;
    width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sheet-character-skillmend button {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 80px;
    margin-top: -15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sheet-character-skillnegotiate{
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-skillnegotiate.png") no-repeat;
}
.sheet-character-skillnegotiate select {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 95px;
    margin-top: 10px;
    width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sheet-character-skillnegotiate button {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 80px;
    margin-top: -15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sheet-character-skillstealth{
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-skillstealth.png") no-repeat;
    
}
.sheet-character-skillstealth select {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 95px;
    margin-top: 10px;
    width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sheet-character-skillstealth button {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 80px;
    margin-top: -15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sheet-character-skillstreets{
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-skillstreets.png") no-repeat;
    
}
.sheet-character-skillstreets select {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 95px;
    margin-top: 10px;
    width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sheet-character-skillstreets button {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 80px;
    margin-top: -15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sheet-character-skillstudy{
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-skillstudy.png") no-repeat;
    
}
.sheet-character-skillstudy select {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 95px;
    margin-top: 10px;
    width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sheet-character-skillstudy button {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 80px;
    margin-top: -15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sheet-character-skilltactics{
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-skilltactics.png") no-repeat;
    
}
.sheet-character-skilltactics select {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 95px;
    margin-top: 10px;
    width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sheet-character-skilltactics button {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 80px;
    margin-top: -15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

    /* actions */


.char-actions-container{
    border: thin solid gray;
    float: left;
    display: grid;
    grid-template-areas:
      "sheet-character-readyaction sheet-character-quickaction"
      "sheet-character-attackaction sheet-character-attackaction"
      "sheet-character-basicadv sheet-character-expertadv";
    grid-template-columns: 350px 350px;
    grid-template-rows: 200px;
    gap: 10px;
    padding: 5px;
}
.sheet-character-readyaction{
    grid-area: sheet-character-readyaction;
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-readyaction.png") no-repeat;
}
.sheet-character-readyaction textarea{
    width: 300px;
    height: 150px;
    margin-left: 25px;
    margin-top: 45px;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}
.sheet-character-quickaction{
    grid-area: sheet-character-quickaction;
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-quickaction.png") no-repeat;
}
.sheet-character-quickaction textarea{
    width: 300px;
    height: 150px;
    margin-left: 25px;
    margin-top: 50px;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}
.sheet-character-attackaction{
    grid-area: sheet-character-attackaction;
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-attackaction.png") no-repeat;
    align-items: center;
}
.sheet-character-attackaction textarea{
    width: 525px;
    height: 100px;
    margin-left: 25px;
    margin-top: 50px;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    
}
.sheet-character-basicadv{
    grid-area: sheet-character-basicadv;
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-basicadv.png") no-repeat;
}
.sheet-character-basicadv textarea{
    width: 300px;
    height: 150px;
    margin-left: 30px;
    margin-top: 50px;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}
.sheet-character-expertadv{
    grid-area: sheet-character-expertadv;
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-expertadv.png") no-repeat;
}
.sheet-character-expertadv textarea{
    width: 300px;
    height: 150px;
    margin-left: 35px;
    margin-top: 55px;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

/*  classes */

.char-classes-container{
    border: thin solid gray;
    float: left;
    display: grid;
    grid-template-areas:
      "bladebanner tacticianbanner"
      "bladecontainer tacticiancontainer"
      "gunslingerbanner arcanistbanner"
      "gunslingercontainer arcanistcontainer";
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 400px 100px 600px;
    gap: 10px;
    padding: 5px;
}

    /*  blade    */


.blade-class-banner{
    grid-area: bladebanner;
    border: thin solid gray;
}
.blade-class-banner h3{
    width: 100%;
    height: 100px
}
.blade-class-container{
    grid-area: bladecontainer;
    border: thin solid gray;
    float: left;
    display: grid;
    grid-template-areas:
      "bladeweapon"
      "bladedamage";
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    /*gap: 5px;*/
}
.blade-weapon-dice{
    grid-area: bladeweapon;
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-bladeweapondice.png") no-repeat center;
}
.blade-weapon-dice select{
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 180px;
    margin-top: 100px;
    width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.blade-weapon-damage{
    grid-area: bladedamage;
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-bladedamage.png") no-repeat center;
}
.blade-weapon-damage input{
    margin-left: 180px;
    margin-top: 100px;
    font-size: 20px;
    font-weight: 700;
}

    /*  tactician    */

.tactician-class-banner{
    grid-area: tacticianbanner;
    border: thin solid gray;
}
.tactician-class-banner h3{
    width: 100%;
    height: 100px
}
.tactician-class-container{
    grid-area: tacticiancontainer;
    border: thin solid gray;
    display: grid;
    grid-template-areas:
      "tactstratpool"
      "tactaction"
      "tactweapon";
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
}
.tactician-class-stratpool{
    grid-area: tactstratpool;
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-tacticianstrategy.png") no-repeat center;
}
.tactician-class-stratpool textarea{
    width: 300px;
    height: 50px;
    margin-left: 75px;
    margin-top: 60px;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}
.tactician-class-action {
    grid-area: tactaction;
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-tacticianspecial.png") no-repeat center;
    background-size: contain;
}
.tactician-class-damage-container{
    grid-area: tactweapon;
    display: grid;
    grid-template-areas:
      "tactweapondie tactdamage";
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
}
.tactician-weapon-die{
    grid-area: tactweapondie;
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-bladeweapondice.png") no-repeat center;
}
.tactician-weapon-die select {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 65px;
    margin-top: 60px;
    width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tactician-weapon-damage{
    grid-area: tactdamage;
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-bladedamage.png") no-repeat center;
}
.tactician-weapon-damage input{
    margin-left: 70px;
    margin-top: 60px;
    font-size: 20px;
    font-weight: 700;
}

    /*  gunslinger    */

.gunslinger-class-banner{
    grid-area: gunslingerbanner;
    border: thin solid gray;
}
.gunslinger-class-banner h3{
    width: 100%;
    height: 100px
}
.gunslinger-class-container{
    grid-area: gunslingercontainer;
    border: thin solid gray;
    display: grid;
    grid-template-areas:
      "gunrunetext gunruneroll";
    grid-template-columns: 50% 50%; 
    grid-template-rows: 100%; 
}
.gunslinger-class-runestext{
    grid-area: gunrunetext;
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-gunslingerrunes.png") no-repeat center;
    background-size: contain;
    height: 600px;
}
.gunslinger-class-runestext input{
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    margin-top: 265px;
    margin-bottom: -255px;
    
}
.gunslinger-class-runestext input[type=text]{
    font-size: 20px;
    font-weight: 700;
    width: 100px;
    height: 30px;
    margin-right: -50px;
}
.gunslinger-class-runesdiceroll{
    grid-area: gunruneroll;
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-gunslingerrunes.png") no-repeat center;
    background-size: contain;
    padding-top: 265px;
}
.gunslinger-class-runesdiceroll select{
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    margin-left: 65px;
    width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.gunslinger-class-runesdiceroll input{
    overflow: hidden;
    margin-bottom: 10px;
}
.gunslinger-class-runesdiceroll button{
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
    white-space: nowrap;
}

/*  arcanist    */

.arcanist-class-banner{
    grid-area: arcanistbanner;
    border: thin solid gray;
}
.arcanist-class-banner h3{
    width: 100%;
    height: 100px;
}
.arcanist-class-container{
    grid-area: arcanistcontainer;
    border: thin solid gray;
    display: grid;
    grid-template-areas:
      "arcanespellbanetrack arcanespellattack"
      "arcanespellknown arcanespellcorr";
    grid-template-columns:  50% 50%;
    grid-template-rows:  50% 50%;
}
.arcanist-class-bane{
    grid-area: arcanespellbanetrack;
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-arcanistbane.png") no-repeat center;
    background-size: contain;
}
.arcanist-class-bane input{
    margin-left: 90%;
    margin-top: 100px;
    margin-bottom: -100px;
}
.arcanist-class-spellroll{
    grid-area: arcanespellattack;
}
.arcanist-class-spellroll h2{
    text-align: center;
}
.arcanist-class-spellroll select{
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.arcanist-class-spellroll input{
    overflow: hidden;
}
.arcanist-class-spellroll button{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.arcanist-class-spellknown{
    grid-area: arcanespellknown;
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-arcanistknownspells.png") no-repeat center;
    background-size: contain;
}
.arcanist-class-spellknown textarea{
    width: 200px;
    height: 150px;
    margin-left: 15px;
    margin-top: 90px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}
.arcanist-class-corr{
    grid-area: arcanespellcorr;
    background: url("https://raw.githubusercontent.com/cteuscher/Roll20CharacterSheet/main/slayers/images2/label-arcanistcorr.png") no-repeat center;
    background-size: contain;
}
.arcanist-class-corr input{
    margin-left: 9%;
    margin-right: -4.5%;
    margin-top: 150px;
    margin-bottom: -150px;
}


/*  notes/equip/bio */

.notes-bio-equip-container{
    border: thin solid gray;
    display: grid;
    grid-template-areas:
      "notesbanner equipbanner biobanner"
      "notestext equiptext biotext";
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows:  100px 500px;
}

.notes-banner{
    grid-area: notesbanner;
    align-items: center;
}
.notes-banner > h3{
    text-align: center;
}
.notes-text{
    grid-area: notestext;
}
.notes-text textarea{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

.equip-banner{
    grid-area: equipbanner;
    align-items: center;
}
.equip-banner > h3{
    text-align: center;
}
.equip-text{
    grid-area: equiptext;
}
.equip-text textarea{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

.bio-banner{
    grid-area: biobanner;
    align-items: center;
}
.bio-banner > h3{
    text-align: center;
}
.bio-text{
    grid-area: biotext;
}
.bio-text textarea{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}